# xsocv-10xl-14.ucf -- XSOC constraints for XS40-010XL boards v1.4 and v1.4+
#
# Copyright (C) 1999, 2000, Gray Research LLC.  All rights reserved.
# The contents of this file are subject to the XSOC License Agreement;
# you may not use this file except in compliance with this Agreement.
# See the LICENSE file.
#

net clk period=46;
timegrp ramctl=pads(xa*):PADS(ram_*);
#timegrp rgb=pads(r<*>):PADS(g<*>):PADS(b<*>);
timegrp dout=ffs(p_dp_dout*);
timegrp pffs=ffs(p_*);
net ud_t tpthru = doutt;
timespec ts_dout_pads=from:dout:to:pads:20;
timespec ts_ffs_ramctl=from:ffs:to:ramctl:17;
#timespec ts_ffs_rgb=from:ffs:to:rgb:24;
timespec ts_ign_dout_pffs=from:dout:to:pffs:tig;
timespec ts_ign_doutt=from:ffs:thru:doutt:to:pffs:tig;

NET clk		LOC = P13;
NET res8031	LOC = P36;
NET ram_ce_n	LOC = P65;
NET ram_oe_n	LOC = P61;
NET ram_we_n	LOC = P62;
NET xd<0>	LOC = P41;
NET xd<1>	LOC = P40;
NET xd<2>	LOC = P39;
NET xd<3>	LOC = P38;
NET xd<4>	LOC = P35;
NET xd<5>	LOC = P81;
NET xd<6>	LOC = P80;
NET xd<7>	LOC = P10;

NET xd<0>	FAST;
NET xd<1>	FAST;
NET xd<2>	FAST;
NET xd<3>	FAST;
NET xd<4>	FAST;
NET xd<5>	FAST;
NET xd<6>	FAST;
NET xd<7>	FAST;
NET xa_0	FAST;
NET ram_we_n	FAST;
NET ram_oe_n	FAST;

NET xa_0	LOC = P3;
NET xa<0>	LOC = P7; # P1.0 (unused)
NET xa<1>	LOC = P4;
NET xa<2>	LOC = P5;
NET xa<3>	LOC = P78;
NET xa<4>	LOC = P79;
NET xa<5>	LOC = P82;
NET xa<6>	LOC = P83;
NET xa<7>	LOC = P84;
NET xa<8>	LOC = P59;
NET xa<9>	LOC = P57;
NET xa<10>	LOC = P51;
NET xa<11>	LOC = P56;
NET xa<12>	LOC = P50;
NET xa<13>	LOC = P58;
NET xa<14>	LOC = P60;
NET xa<15>	LOC = P28;
NET xa<16>	LOC = P16;
NET par_d<0>	LOC = P44;
NET par_d<1>	LOC = P45;
NET par_d<2>	LOC = P46;
NET par_d<3>	LOC = P47;
NET par_d<4>	LOC = P48;
NET rst			LOC = P49;
NET par_s<3>	LOC = P70;
NET par_s<4>	LOC = P77;
NET par_s<5>	LOC = P66;
NET par_s<6>	LOC = P69;

NET hsync_n     LOC = P19;
NET vsync_n     LOC = P67;
NET r<1>        LOC = P18;
NET r<0>        LOC = P23;
NET g<1>        LOC = P20;
NET g<0>        LOC = P24;
NET b<1>        LOC = P26;
NET b<0>        LOC = P25;

INST vga_sr_reg<0> LOC=CLB_R14C1;
INST vga_pending_reg<0> LOC=CLB_R14C2;
INST p_dp_aregs_r0 LOC=CLB_R14C3;
INST p_dp_areg_reg<0> LOC=CLB_R14C3;
INST p_dp_bregs_r0 LOC=CLB_R14C4;
INST p_dp_breg_reg<0> LOC=CLB_R14C4;
INST p_dp_a_reg<0> LOC=CLB_R14C5;
INST p_dp_b_reg<0> LOC=CLB_R14C6;
INST p_dp_dout_reg<0> LOC=CLB_R14C7;
INST p_dp_pcs_r0 LOC=CLB_R14C12;
INST p_dp_ret_reg<0> LOC=CLB_R14C12;
INST vga_sr_reg<1> LOC=CLB_R14C1;
INST vga_pending_reg<1> LOC=CLB_R14C2;
INST p_dp_aregs_r1 LOC=CLB_R14C3;
INST p_dp_areg_reg<1> LOC=CLB_R14C3;
INST p_dp_bregs_r1 LOC=CLB_R14C4;
INST p_dp_breg_reg<1> LOC=CLB_R14C4;
INST p_dp_a_reg<1> LOC=CLB_R14C5;
INST p_dp_b_reg<1> LOC=CLB_R14C6;
INST p_dp_dout_reg<1> LOC=CLB_R14C7;
INST p_dp_pcs_r1 LOC=CLB_R14C12;
INST p_dp_ret_reg<1> LOC=CLB_R14C12;
INST vga_sr_reg<2> LOC=CLB_R13C1;
INST vga_pending_reg<2> LOC=CLB_R13C2;
INST p_dp_aregs_r2 LOC=CLB_R13C3;
INST p_dp_areg_reg<2> LOC=CLB_R13C3;
INST p_dp_bregs_r2 LOC=CLB_R13C4;
INST p_dp_breg_reg<2> LOC=CLB_R13C4;
INST p_dp_a_reg<2> LOC=CLB_R13C5;
INST p_dp_b_reg<2> LOC=CLB_R13C6;
INST p_dp_dout_reg<2> LOC=CLB_R13C7;
INST p_dp_pcs_r2 LOC=CLB_R13C12;
INST p_dp_ret_reg<2> LOC=CLB_R13C12;
INST vga_sr_reg<3> LOC=CLB_R13C1;
INST vga_pending_reg<3> LOC=CLB_R13C2;
INST p_dp_aregs_r3 LOC=CLB_R13C3;
INST p_dp_areg_reg<3> LOC=CLB_R13C3;
INST p_dp_bregs_r3 LOC=CLB_R13C4;
INST p_dp_breg_reg<3> LOC=CLB_R13C4;
INST p_dp_a_reg<3> LOC=CLB_R13C5;
INST p_dp_b_reg<3> LOC=CLB_R13C6;
INST p_dp_dout_reg<3> LOC=CLB_R13C7;
INST p_dp_pcs_r3 LOC=CLB_R13C12;
INST p_dp_ret_reg<3> LOC=CLB_R13C12;
INST vga_sr_reg<4> LOC=CLB_R12C1;
INST vga_pending_reg<4> LOC=CLB_R12C2;
INST p_dp_aregs_r4 LOC=CLB_R12C3;
INST p_dp_areg_reg<4> LOC=CLB_R12C3;
INST p_dp_bregs_r4 LOC=CLB_R12C4;
INST p_dp_breg_reg<4> LOC=CLB_R12C4;
INST p_dp_a_reg<4> LOC=CLB_R12C5;
INST p_dp_b_reg<4> LOC=CLB_R12C6;
INST p_dp_dout_reg<4> LOC=CLB_R12C7;
INST p_dp_pcs_r4 LOC=CLB_R12C12;
INST p_dp_ret_reg<4> LOC=CLB_R12C12;
INST vga_sr_reg<5> LOC=CLB_R12C1;
INST vga_pending_reg<5> LOC=CLB_R12C2;
INST p_dp_aregs_r5 LOC=CLB_R12C3;
INST p_dp_areg_reg<5> LOC=CLB_R12C3;
INST p_dp_bregs_r5 LOC=CLB_R12C4;
INST p_dp_breg_reg<5> LOC=CLB_R12C4;
INST p_dp_a_reg<5> LOC=CLB_R12C5;
INST p_dp_b_reg<5> LOC=CLB_R12C6;
INST p_dp_dout_reg<5> LOC=CLB_R12C7;
INST p_dp_pcs_r5 LOC=CLB_R12C12;
INST p_dp_ret_reg<5> LOC=CLB_R12C12;
INST vga_sr_reg<6> LOC=CLB_R11C1;
INST vga_pending_reg<6> LOC=CLB_R11C2;
INST p_dp_aregs_r6 LOC=CLB_R11C3;
INST p_dp_areg_reg<6> LOC=CLB_R11C3;
INST p_dp_bregs_r6 LOC=CLB_R11C4;
INST p_dp_breg_reg<6> LOC=CLB_R11C4;
INST p_dp_a_reg<6> LOC=CLB_R11C5;
INST p_dp_b_reg<6> LOC=CLB_R11C6;
INST p_dp_dout_reg<6> LOC=CLB_R11C7;
INST p_dp_pcs_r6 LOC=CLB_R11C12;
INST p_dp_ret_reg<6> LOC=CLB_R11C12;
INST vga_sr_reg<7> LOC=CLB_R11C1;
INST vga_pending_reg<7> LOC=CLB_R11C2;
INST p_dp_aregs_r7 LOC=CLB_R11C3;
INST p_dp_areg_reg<7> LOC=CLB_R11C3;
INST p_dp_bregs_r7 LOC=CLB_R11C4;
INST p_dp_breg_reg<7> LOC=CLB_R11C4;
INST p_dp_a_reg<7> LOC=CLB_R11C5;
INST p_dp_b_reg<7> LOC=CLB_R11C6;
INST p_dp_dout_reg<7> LOC=CLB_R11C7;
INST p_dp_pcs_r7 LOC=CLB_R11C12;
INST p_dp_ret_reg<7> LOC=CLB_R11C12;
INST vga_sr_reg<8> LOC=CLB_R10C1;
INST vga_pending_reg<8> LOC=CLB_R10C2;
INST p_dp_aregs_r8 LOC=CLB_R10C3;
INST p_dp_areg_reg<8> LOC=CLB_R10C3;
INST p_dp_bregs_r8 LOC=CLB_R10C4;
INST p_dp_breg_reg<8> LOC=CLB_R10C4;
INST p_dp_a_reg<8> LOC=CLB_R10C5;
INST p_dp_b_reg<8> LOC=CLB_R10C6;
INST p_dp_dout_reg<8> LOC=CLB_R10C7;
INST p_dp_pcs_r8 LOC=CLB_R10C12;
INST p_dp_ret_reg<8> LOC=CLB_R10C12;
INST vga_sr_reg<9> LOC=CLB_R10C1;
INST vga_pending_reg<9> LOC=CLB_R10C2;
INST p_dp_aregs_r9 LOC=CLB_R10C3;
INST p_dp_areg_reg<9> LOC=CLB_R10C3;
INST p_dp_bregs_r9 LOC=CLB_R10C4;
INST p_dp_breg_reg<9> LOC=CLB_R10C4;
INST p_dp_a_reg<9> LOC=CLB_R10C5;
INST p_dp_b_reg<9> LOC=CLB_R10C6;
INST p_dp_dout_reg<9> LOC=CLB_R10C7;
INST p_dp_pcs_r9 LOC=CLB_R10C12;
INST p_dp_ret_reg<9> LOC=CLB_R10C12;
INST vga_sr_reg<10> LOC=CLB_R9C1;
INST vga_pending_reg<10> LOC=CLB_R9C2;
INST p_dp_aregs_r10 LOC=CLB_R9C3;
INST p_dp_areg_reg<10> LOC=CLB_R9C3;
INST p_dp_bregs_r10 LOC=CLB_R9C4;
INST p_dp_breg_reg<10> LOC=CLB_R9C4;
INST p_dp_a_reg<10> LOC=CLB_R9C5;
INST p_dp_b_reg<10> LOC=CLB_R9C6;
INST p_dp_dout_reg<10> LOC=CLB_R9C7;
INST p_dp_pcs_r10 LOC=CLB_R9C12;
INST p_dp_ret_reg<10> LOC=CLB_R9C12;
INST vga_sr_reg<11> LOC=CLB_R9C1;
INST vga_pending_reg<11> LOC=CLB_R9C2;
INST p_dp_aregs_r11 LOC=CLB_R9C3;
INST p_dp_areg_reg<11> LOC=CLB_R9C3;
INST p_dp_bregs_r11 LOC=CLB_R9C4;
INST p_dp_breg_reg<11> LOC=CLB_R9C4;
INST p_dp_a_reg<11> LOC=CLB_R9C5;
INST p_dp_b_reg<11> LOC=CLB_R9C6;
INST p_dp_dout_reg<11> LOC=CLB_R9C7;
INST p_dp_pcs_r11 LOC=CLB_R9C12;
INST p_dp_ret_reg<11> LOC=CLB_R9C12;
INST vga_sr_reg<12> LOC=CLB_R8C1;
INST vga_pending_reg<12> LOC=CLB_R8C2;
INST p_dp_aregs_r12 LOC=CLB_R8C3;
INST p_dp_areg_reg<12> LOC=CLB_R8C3;
INST p_dp_bregs_r12 LOC=CLB_R8C4;
INST p_dp_breg_reg<12> LOC=CLB_R8C4;
INST p_dp_a_reg<12> LOC=CLB_R8C5;
INST p_dp_b_reg<12> LOC=CLB_R8C6;
INST p_dp_dout_reg<12> LOC=CLB_R8C7;
INST p_dp_pcs_r12 LOC=CLB_R8C12;
INST p_dp_ret_reg<12> LOC=CLB_R8C12;
INST vga_sr_reg<13> LOC=CLB_R8C1;
INST vga_pending_reg<13> LOC=CLB_R8C2;
INST p_dp_aregs_r13 LOC=CLB_R8C3;
INST p_dp_areg_reg<13> LOC=CLB_R8C3;
INST p_dp_bregs_r13 LOC=CLB_R8C4;
INST p_dp_breg_reg<13> LOC=CLB_R8C4;
INST p_dp_a_reg<13> LOC=CLB_R8C5;
INST p_dp_b_reg<13> LOC=CLB_R8C6;
INST p_dp_dout_reg<13> LOC=CLB_R8C7;
INST p_dp_pcs_r13 LOC=CLB_R8C12;
INST p_dp_ret_reg<13> LOC=CLB_R8C12;
INST vga_sr_reg<14> LOC=CLB_R7C1;
INST vga_pending_reg<14> LOC=CLB_R7C2;
INST p_dp_aregs_r14 LOC=CLB_R7C3;
INST p_dp_areg_reg<14> LOC=CLB_R7C3;
INST p_dp_bregs_r14 LOC=CLB_R7C4;
INST p_dp_breg_reg<14> LOC=CLB_R7C4;
INST p_dp_a_reg<14> LOC=CLB_R7C5;
INST p_dp_b_reg<14> LOC=CLB_R7C6;
INST p_dp_dout_reg<14> LOC=CLB_R7C7;
INST p_dp_pcs_r14 LOC=CLB_R7C12;
INST p_dp_ret_reg<14> LOC=CLB_R7C12;
INST vga_sr_reg<15> LOC=CLB_R7C1;
INST vga_pending_reg<15> LOC=CLB_R7C2;
INST p_dp_aregs_r15 LOC=CLB_R7C3;
INST p_dp_areg_reg<15> LOC=CLB_R7C3;
INST p_dp_bregs_r15 LOC=CLB_R7C4;
INST p_dp_breg_reg<15> LOC=CLB_R7C4;
INST p_dp_a_reg<15> LOC=CLB_R7C5;
INST p_dp_b_reg<15> LOC=CLB_R7C6;
INST p_dp_dout_reg<15> LOC=CLB_R7C7;
INST p_dp_pcs_r15 LOC=CLB_R7C12;
INST p_dp_ret_reg<15> LOC=CLB_R7C12;
INST iram_ram0_r0 LOC=CLB_R14C14;
INST iram_ram8_r0 LOC=CLB_R10C14;
INST iram_ram0_r1 LOC=CLB_R14C14;
INST iram_ram8_r1 LOC=CLB_R10C14;
INST iram_ram0_r2 LOC=CLB_R13C14;
INST iram_ram8_r2 LOC=CLB_R9C14;
INST iram_ram0_r3 LOC=CLB_R13C14;
INST iram_ram8_r3 LOC=CLB_R9C14;
INST iram_ram0_r4 LOC=CLB_R12C14;
INST iram_ram8_r4 LOC=CLB_R8C14;
INST iram_ram0_r5 LOC=CLB_R12C14;
INST iram_ram8_r5 LOC=CLB_R8C14;
INST iram_ram0_r6 LOC=CLB_R11C14;
INST iram_ram8_r6 LOC=CLB_R7C14;
INST iram_ram0_r7 LOC=CLB_R11C14;
INST iram_ram8_r7 LOC=CLB_R7C14;
